@use '../../../themes/theme' as *;

.tag-editor-wrapper {
  @include themify() {
    background-color: variants("surface");
    color: on("surface");
    border: 3px solid variants("surface-variant");
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  border-radius: 10px;
  padding: 3px;
}

.tag-input {
  flex: 1;
}

.tag-input:hover,
.tag-input:focus-visible,
.tag-input {
  background: none;
  border: none;
  outline: none;
}