.default-button {

  &--info {
    background-color: #61dafb;
  }

  &--error {
    background-color: red;
  }

  &--pagination {
    color: black;
    background-color: cadetblue;
  }

  &--pagination-current {
    color: white;
    background-color: blue;
  }
}